$color-primary: #d4d934;
$color-secondary: #30bad9;
$color-tertiary: #2889b2;
$color-quaternary: #734c56;
$color-primary-light: lighten($color-primary, 35%);
$color-tertiary-light: lighten($color-tertiary, 45%);