@import '../utils/variables';
@import '../utils/mixins';

.libraryPage{
    display: flex;
    padding: 50px 0 20px 0;
}

.libraryNav{
    display: flex;
    width: 20vw;
    border-right: 1px solid $color-quaternary;
}

.library{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80vw;
    margin:0 50px;
}

.book{
    display: flex;
    align-items: center;
    width: 30%;
    height: 200px;
    padding: 10px;
    margin-bottom: 30px;
    @include box-shadow-normal;
    &_image{
        width: 40%;
        height:80%; 
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            } 
    }
    &:hover{
        border: 1px rgb(197, 197, 197) solid; 
        box-shadow: 0 5px 9px 2px rgba(0, 0, 0, 0.3), 0 7px 21px 2px rgba(0, 0, 0, 0.29);
        cursor: pointer;
    }
    &_text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        height:80%; 
        &_info{
            &_title{
            color: $color-tertiary;
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            &:hover{
                text-decoration: underline;
            }
            }
            &_author{
                font-size: 12px;
            }
        }
        &_star{
            display: flex;   
            align-items: center;  
            font-size: 12px;       
            img{
                width: 70%;
                height: 70%;
            }
        }
    }
    
}