@import '../utils/variables';
@import '../utils/mixins';

.libraryPage{
    display: flex;
    padding: 50px 0 20px 0;
}

.libraryNav{
    display: flex;
    width: 20vw;
    border-right: 1px solid $color-quaternary;
}

.library{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80vw;
    margin:0 50px;
}

.mainBook{
    display: flex;
    width: 30%;
    min-width: 450px;
    height: 200px;
    @include box-shadow-normal;
    padding: 10px;
    margin-bottom: 30px;
    &:hover{
        border: 1px rgb(197, 197, 197) solid; 
        box-shadow: 0 5px 9px 2px rgba(0, 0, 0, 0.3), 0 7px 21px 2px rgba(0, 0, 0, 0.29);
        cursor: pointer;
    }
}

.book{
    display:flex;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    &_image{
        width: 40%;
        height:80%; 
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            } 
    }
    &_text{
        display: flex;
        flex-direction: column;
        width: 60%;
        height:80%; 
        position: relative;
        z-index: 1;
        &_info{
            &_title{
            color: $color-tertiary;
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            &:hover{
                text-decoration: underline;
            }
            }
            &_author{
                font-size: 12px;
            }
        }
        &_star{
            display: flex;   
            align-items: center;  
            font-size: 12px;
            margin-top: 5px;       
            img{
                width: 70%;
                height: 70%;
            }
        }
    }
}


.bookDetail{
    display:flex;
    justify-content: space-around;
    &_image{
        width: 20%;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            } 
    }
    &_text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 60%;
        height:80%; 
        position: relative;
        z-index: 1;
        &_info{
            &_title{
            color: $color-tertiary;
            font-family: 'Oswald', sans-serif;
            font-size: 18px;
            &:hover{
                text-decoration: underline;
            }
            }
            &_author{
                font-size: 12px;
            }
        }
    }
}

.likeMain{
    position: relative;
    top: 60%;
    right: 57%;
    height: 30px;
    width: 30px;
    z-index: 10;
}

.likeDetail{
    position: absolute;
    left: 36%;
    top: 45%;
    height: 30px;
    width: 30px;
}