.usersList{
    display:flex;
    flex-direction:column;
    width: 150%;
}

.input-control{
    display:flex;
    align-items: center;
    max-width: 450px;
    background-color: #f4f4f4;
    border-radius: 6px;
    padding:15px;
    input{
        width: 100vw;
        padding-left: 10px;
        outline: 0;
        border: 0;
        color: black;
        background-color:#f4f4f4;


    }
}
.input-control input::placeholder{
    color: #838f9f;
}
.backDashboard{
    &:hover{
        cursor: pointer;
    }
    img{
        width: 25px;
        padding-right: 3px;
    }
}


.users{
    display:flex;
    flex-direction: column;
    margin: 20px;
    width: 200%;
}
.intro-users{
    display: flex;
    justify-content: space-between;
}

.profil{
    &__element{
        margin-bottom: 5px;
        &__title{
            font-weight: bold;
        }
    }

}
.usersButtons{
    display:flex;
    flex-direction: column;
    width: 70%;
    margin: 10px auto;
    &__buttons{
        width: 100%;
        margin-bottom: 10px;;
    }
}