
.header{
    display:flex;
    justify-content: space-around;
    width: 100%;
    &--color{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include background-header;
    }
    &__nav{
        display:flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 15px; 
        a{
            text-decoration: none;
           
        }
    }
    &__title{
        display: flex;
        justify-content: space-around;
        width: 100%;
        &--color{
            margin-top: -35px;
            margin-left: 100px;
        }
    }
    img{
        height: 130px;
    }
}


@media screen and (max-width: 900px){
   
    h1{
        font-size: 20px;
        width: 100%;
    }
    .header{
        &__nav{
            flex-direction: column;
            align-items: center;
        }
        &__title{
            &--color{
                margin: 20px 0 0 0;
           
            }
        }
    }
   
}
